<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${post.getTitle()}"></title>
</head>
<body>
<div>
  <p th:text="${post.getId()}"></p>
  <p th:text="${post.getTitle()}"></p>
  <p th:text="${post.getTag()}"></p>
  <p th:text="${post.getDescription()}"></p>
</div>

<!--<a th:href="@{/posts/{id}/edit(id=${post.getId()})}">edit!</a>-->

<form th:method="DELETE" th:action="@{/posts/{id}(id=${post.getId()})}">
    <input type="submit" value="delete!">
</form>

<a th:href="@{/posts/{id}/link(id=${post.getId()})}">link</a>

</body>
</html>